@using WebApp.Entities.ViewModel;
@model AddCourseViewModel;

<form class="w-100" id="addCourseForm">
    <input type="hidden" asp-for="Id">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" placeholder="pizza" asp-for="CourseName" id="categoryName">
        <label for="">Name</label>
        <span class="text-danger" asp-validation-for="CourseName" id="error"></span>
    </div>
    <div class="row g-2">
        <div class="col-6">
            <div class="form-floating">
                <select class="form-select" asp-for="DeptId" asp-items="Model.DepartmentList">
                </select>
                <label asp-for="DeptId">Department*</label>
                <span class="text-danger" asp-validation-for="DeptId"></span>
            </div>
        </div>
        <div class="col-6">
            <div class="form-floating">
                <input type="number" class="form-control" asp-for="Credit" placeholder="">
                <label asp-for="Credit">Credit</label>
                <span class="text-danger" asp-validation-for="Credit"></span>
            </div>
        </div>  
    </div>
    <div class="form-floating my-3">
        <textarea class="form-control h-100" id="floatingInput" placeholder="" rows="5" asp-for="Content"></textarea>
        <label asp-for="Content">Content</label>
        <span class="text-danger" asp-validation-for="Content"></span>
    </div>

    <div class="d-flex gap-2 justify-content-end">
        <button type="submit" class="btn btn-fill px-3">Save</button>
        <button type="button" class="btn btn-border px-3" data-bs-dismiss="modal" id="resetBtn">Cancel</button>
    </div>
</form>


<script>
    $('#courseModel').off('submit').on("submit", "#addCourseForm", function (e) {
        e.preventDefault();
        var formData = new FormData(this)

        $.ajax({
            url: '/Admin/AddEditCourse',
            method: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                if (response.success) {
                    $('#addCourse').modal('hide');
                    toastr.success(response.message)
                    loadCourses();
                }
                else if (response.success == false) {
                    toastr.error(response.message);
                }
                else {
                    $('#courseModel').html(response);
                }
            },
            error: function (error) {
                toastr.error('Your form was not sent successfully.');
            }
        });
    });
</script>
